*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    font-size: 70px;
    font-weight: normal;
    line-height: 94px;
    color: #3E4C54;
}

h2{
    font-size: 60px;
    font-weight: normal;
    line-height: 80px;
    color: #3E4C54;
}

h4{
    font-size: 30px;
    font-weight: normal;
    line-height: 40px;
    color: #3E4C54;
}

h5{
    font-size: 25px;
    font-weight: normal;
    line-height: 33px;
    color: #3E4C54;
}

h6{
    font-size: 20px;
    line-height: 27px;
    color: #3E4C54;
}

p{
    font-size: 16px;
    color: #3E4C54;
}

body{
    width: 100%;
    background-color: #D4DDE3;
}

button{
    padding: 10px;
    border-style: none;
    border-radius: 10px;
    background-color: white;
}

img{
    pointer-events: none;
}

/* Animations*/
@keyframes wiggle {
    0% {
        transform: translatey(0px);
      }
      50% {
        transform: translatey(-20px);
      }
      100% {
        transform: translatey(0px);
      }
  }

/* Home Page */
#hero{
    height: 100vh;
    width: 100%;
}

#hero h1{
    width: 580px;
    text-align: center;
    border-width: 5px;
    border-style: solid;
    border-color: white;
}

#hero p{
    margin-top: 5px;
    text-align:justify;
}
/*
#hero img{
    width: 35px;
    height: 35px ;
    color: #D7EEF7;
    margin-top: 30px;
    animation: wiggle 6s ease-in-out infinite ;
}
*/

#hero .p1{
    margin-bottom: 5px;
}
#hero .p2{
    margin-top: 9px;
}

#hero p span{
    color:  #6113EB;
    font-weight: 700;
}

#hero button{
    margin-top: 20px;
}

#hero .hero-bar{
    display: flex;
    justify-content: space-between;
}

#hero .portrait{
    height: 89vh;
}

#hero .nav-bar{
    display: flex;
    padding-left: 30px;
    padding-top: 18px;
    padding-right: 30px;
    height: 68px;
    justify-content: space-between;
}

#hero .logo{
    justify-content: left;
    justify-items: left;
    height: 40px;
}

#hero .hero-intro{
    width: 580px;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 10px;
    align-items: center;
}

#hero .hero-intro a{
    text-decoration: none;
    color: #3E4C54;
}

#bar{
    display: flex;
    justify-content: right;
    padding-top: 0px;
    padding-bottom: 5px;
}

#bar li{
    list-style: none;
    padding: 0px 0px;
    padding-right: 30px;
    position: relative;
}

#bar a{
    text-decoration: none;
    font-size: 25px;
    font-weight: 700;
    line-height: 33px;
    color: #3E4C54;
    transition: 0.4s ease;
}

/*
#bar li a:hover,
#bar li a.active{
    color: #ACACFF;
}

#bar li a.active::after,
#bar li a:hover::after{
    content: "";
    width: 30%;
    height: 2px;
    background: #ACACFF;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
*/

/* About Page */
#about{
    width: 100%;
    padding: 0px;
    position: relative;
}

#about img{
    width: 60px;
    height: 65px ;
    margin-right: 20px;
}

#about .v1{
    width: auto;
    height: auto;
}

#about .v3{
    width: auto;
    height: auto;
    position: absolute;
}

#about .about-sect{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 70px;
}

#about p{    
    text-align: right;
    width: 670px;
}

#about h2{
    text-align: right;
}

#about .skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    width: 670px;
}

#about .skill{
    margin-right: 30px;
    padding-top: 30px;
    text-align: center;
}

#about .skill h5{
    text-align: center;
}

#about .portrait2{
    height: 630px;
    width: auto;
}

/* Projects Page */

#projects{
    margin-top: 20px;
}

#projects h5{
    font-weight: 700;
}

#projects .text-head{
    margin: 0px 0px 0px 20px;
    padding: 10px 0px 0px 10px;
    border-style: solid;
    border-width: 0px 0px 0px 5px;
    border-color: white;
}

#projects .about{
    display: flex;
    padding: 30px;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #B1BCBE;
}

#projects .about .sect{
    text-align: center;
}

#projects .about .sect img{
    height: 137px;
    width: 137px;
}

#projects .project-sect{
    padding: 20px;
    padding-top: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#projects .midtitle{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px 0px 0px 0px;   
}

#projects .button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}

#projects .project-sect .sect{
    background-image: url("images/No\ image.png");
    background-size:cover;
    background-position: center;
    border-radius: 25px;
    height: 230px;
    width: 290px;
}

#projects .sect2 .sect:nth-child(1){
    background-image: url("images/Smart-glasses.jpg");
    background-position: 0%;
}

#projects .sect2 .sect:nth-child(2){
    background-image: url("images/Car-park-app.jpg");
}

#projects .project-sect .sect .text{
    background-color: beige;
    border-radius: 0px 0px 25px 25px;
    padding: 10px;
    justify-content:center;
}

#projects .project-sect .sect .text h6{
    text-align: center;
}

/* Experience */

#experience{
    padding: 20px 0px 20px 0px;
}

#experience .title{
    display: flex;
    justify-content: center;
}

#experience .title h4{
    padding: 0px 5px 0px 5px;
}

#experience .experiences{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 0;
    justify-content: center;
}

#experience .ex-box{
    background-color: #8D8E8D;
    border-color: #D4DDE3;
    border-width: 5px;
    border-style: solid;
    height: 260px;
    width: 350px;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 10px;
    margin-top: 30px;
}

#experience .ex-box h6{
    color: white;
}

#experience .ex-box p {
    width:fit-content;
    padding: 0;
    margin-bottom: 0;
    color: white;
}

#experience .ex-box .space{
    margin-top: 10px;
}

footer{
    background-color: #8D8E8D;
    display: flex;
    height: 5vh;
    flex-wrap: wrap;
    padding: 20px 60px 20px 60px;
    justify-content: space-between;
}

footer li{
    margin: 20px 0px 50px 0px;
    list-style: none;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer a{
    text-decoration: none;
    font-weight: bold;
    color: #3E4C54;
}

footer .sections{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}

footer .contact{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

footer input{
    padding: 15px;
    height: 30px;
    width: 100%;
    border-style: none;
    border-radius: 12px;
    color: #746A60;
}

#textbox{
    padding: 15px;
    height: 30px;
    width: 100%;
    border-style: none;
    border-radius: 12px;
    color: #746A60;
    height: 100px;
}
